apiVersion: apps/v1
kind: Deployment
metadata:
  name: akashnet-watcher-deploy
  labels:
    app: akashnet-watcher-app
  annotations:
spec:
  selector:
    matchLabels:
      app: akashnet-watcher-app

  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: akashnet-watcher-app
    spec:
      hostAliases:
      - ip: "159.89.250.255"
        hostnames:
        - "api.mapofzones.com"
      containers:

      - name: akashnet-2
        image: registry.digitalocean.com/mapofzones/cosmos-watcher-akash:6d4472e0
        env:
          - name: chain_id
            value: "akashnet-2"
          - name: rabbitmq
            valueFrom:
              secretKeyRef:
                name: prodsecret
                key: watcher_rabbitmq
          - name: graphql
            valueFrom:
              secretKeyRef:
                name: prodsecret
                key: db_graphql
        imagePullPolicy: Always
        resources:
          requests:
            memory: "30Mi"
            cpu: "5m"
          limits:
            memory: "128Mi"
            cpu: "250m"
