apiVersion: apps/v1
kind: Deployment
metadata:
  name: cosmoshub-watcher-deploy
  labels:
    app: cosmoshub-watcher-app
  annotations:
spec:
  selector:
    matchLabels:
      app: cosmoshub-watcher-app

  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: cosmoshub-watcher-app
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - cosmoshub-watcher-app
            topologyKey: "kubernetes.io/hostname"
      hostAliases:
      - ip: "159.89.250.255"
        hostnames:
        - "api.mapofzones.com"
      containers:

      - name: cosmoshub-4
        image: registry.digitalocean.com/mapofzones/cosmos-watcher-cosmoshub:a641a009
        env:
          - name: chain_id
            value: "cosmoshub-4"
          - name: rabbitmq
            valueFrom:
              secretKeyRef:
                name: prodsecret
                key: watcher_rabbitmq
          - name: graphql
            valueFrom:
              secretKeyRef:
                name: prodsecret
                key: db_graphql
        imagePullPolicy: Always
        resources:
          requests:
            memory: "70Mi"
            cpu: "20m"
          limits:
            memory: "512Mi"
            cpu: "250m"
