apiVersion: apps/v1
kind: Deployment
metadata:
  name: crypto-org-watcher-deploy
  labels:
    app: crypto-org-watcher-app
  annotations:
spec:
  selector:
    matchLabels:
      app: crypto-org-watcher-app

  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: crypto-org-watcher-app
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - crypto-org-watcher-app
            topologyKey: "kubernetes.io/hostname"
      hostAliases:
      - ip: "159.89.250.255"
        hostnames:
        - "api.mapofzones.com"
      containers:

      - name: crypto-org-chain-mainnet-1
        image: registry.digitalocean.com/mapofzones/cosmos-watcher-cronos:facf64c7
        env:
          - name: chain_id
            value: "crypto-org-chain-mainnet-1"
          - name: rabbitmq
            valueFrom:
              secretKeyRef:
                name: prodsecret
                key: watcher_rabbitmq
          - name: graphql
            valueFrom:
              secretKeyRef:
                name: prodsecret
                key: db_graphql
          - name: queue
            value: "blocks_v3"
        imagePullPolicy: Always
        resources:
          requests:
            memory: "70Mi"
            cpu: "20m"
          limits:
            memory: "128Mi"
            cpu: "250m"
